include ./__item/dropdown__item
include ../button/button

mixin dropdown(options)
  -var dropdown_size = (options.size ? `dropdown_size-${options.size}` : "");
  -var items = (options.items ? options.items : []);
  -var text = (options.text ? options.text : "No text");
  -var title = (options.title ? options.title : "");
  -var buttons = (options.buttons ? true : false);
  -var default_active = (options.default_active ? "dropdown_active" : "");
  .dropdown(class=dropdown_size class=default_active)
    if (title != "")
      .dropdown__title=title
    .dropdown__container
      .dropdown__field
        .dropdown__text=text
        .dropdown__arrow
          img(src='images/dropdown__arrow.svg')
      .dropdown__menu
        .dropdown__menu-container
          each item in items.length ? items : "none" 
            +dropdown__item(item)
        if (buttons)
          .dropdown__buttons-container
            +button({title: "очистить", theme: "no-border"})
            +button({title: "применить", theme: "no-border"})