include ../dropdown-item/dropdown-item
include ../button/button

mixin dropdown(params)
  -
    const {
      size,
      items = [],
      text = 'Text',
      title,
      buttons = false,
      alwaysOpen = false,
      name = 'name',
    } = params;

    const class_size = size ? `dropdown_size_${size}` : '';
    const class_open = alwaysOpen ? 'dropdown_always-open' : '';

  .dropdown.js-dropdown(class=class_size, class=class_open)
    if (title)
      .dropdown__title= title
    .dropdown__container.js-dropdown__container
      input.dropdown__field.js-dropdown__field(
        value=text,
        name=name,
        readonly="true"
      )
      i.dropdown__arrow.material-icons expand_more
      .dropdown__menu.js-dropdown__menu
        .dropdown__menu-container
          each item in items
            +dropdown-item(item)
        if (buttons)
          .dropdown__buttons-container
            .dropdown__button.js-dropdown__button
              +button({title: 'очистить', theme: 'no-border'})
            .dropdown__button.js-dropdown__button
              +button({title: 'применить', theme: 'no-border'})