include ../dropdown-item/dropdown-item
include ../button/button

mixin dropdown(params = {})
  -
    const {
      size = null,
      items = [],
      text = 'Text',
      title = null,
      buttons = false,
      alwaysOpen = false,
      name = 'name',
    } = params;

    const classes = [
      size && `dropdown_size_${size}`,
      alwaysOpen && 'dropdown_always-open'
    ];

  .dropdown.js-dropdown(class=classes)
    if (title)
      .dropdown__title= title
    .dropdown__container.js-dropdown__container
      input.dropdown__field.js-dropdown__field(
        value=text,
        name=name,
        readonly="true"
      )
      .dropdown__arrow
      .dropdown__menu.js-dropdown__menu
        .dropdown__menu-container
          each item in items
            +dropdown-item(item)
        if (buttons)
          .dropdown__buttons-container
            .dropdown__button.js-dropdown__button
              +button({title: 'очистить', theme: 'no-border'})
            .dropdown__button.js-dropdown__button
              +button({title: 'применить', theme: 'no-border'})