mixin button(params)
  -var button_size = (params.size ? `button_size-${params.size}` : "");
  -var button_theme = (params.theme ? `button_theme-${params.theme}` : ""); 
  -var button_title = (params.title ? params.title : "No title");
  div.button(class=button_size class=button_theme)
    div.button__text-containter=params.title                
    if(button_size=="button_size-l")
      div.button__img-container
        img(src="images/arrow-white.svg")