mixin button(params = {})
  -
    const {
      size = null,
      theme = null,
      title = 'title',
      type = 'button',
      arrow = false,
      disabled = false,
      href = null,
    } = params;

    const classes = [
      size && `button_size_${size}`,
      theme && `button_theme_${theme}`
    ]

  button.button(
    class=classes,
    type=type,
    disabled=disabled,
    onclick = href && `window.open('${href}', '_self');`
  )= title
    if (arrow)
      .button__arrow