mixin button(params)
  -
    const {
      size,
      theme,
      title = "Title",
      type = "button",
      arrow = false,
    } = params;

    const class_size = (size ? `button_size-${size}` : "");
    const class_theme = (theme ? `button_theme-${theme}` : "");

  button.button(class=class_size class=class_theme type=type)
    .button__title=title
    if(arrow)
      i.material-icons arrow_forward