mixin button(params)
  -
    const {
      size,
      theme,
      title = 'title',
      type = 'button',
      arrow = false,
      disabled = false,
      href,
    } = params;

    const class_size = size ? `button_size_${size}` : '';
    const class_theme = theme ? `button_theme_${theme}` : '';
    const classes = `${class_size} ${class_theme}`;

  if (href)
    a.button(class=classes, href=href)= title
  else
    button.button(class=classes, type=type, disabled=disabled)= title
      if (arrow)
        i.button__arrow.material-icons arrow_forward