mixin range-slider(params = {})
  -
    const {
      title = 'title',
      min = 0,
      max = 100,
      val1 = 20,
      val2 = 80,
      step = 10,
    } = params;

  .range-slider.js-range-slider
    .range-slider__container
      .range-slider__title= title
      .range-slider__price.js-range-slider__price
    .range-slider__slider.js-range-slider__slider(
      data-min=min,
      data-max=max,
      data-val1=val1,
      data-val2=val2,
      data-step=step
    )