mixin radio-button(params = {})
  -
    const {
      title,
      name = 'defaultName',
      value = 'defaultValue',
      checked = false,
    } = params;

  .radio-button
    label.radio-button__label= title
      input.radio-button__input(
        type="radio",
        name=name,
        value=value,
        checked=checked
      )