include ../../components/components

-
  const path = require('path');
  const fs = require('fs');
  const data = JSON.parse(fs.readFileSync('./src/pages/room/room.json'));

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="room page of Toxin Pages project")
    meta(name="keywords" content="toxin pages, room")
    meta(name="viewport" content="width=device-width")
    title TOXIN
  body.room
    header.room__header
      +header(data.header)
    main.room__main
      figure.room__figure
        .room__photo-group
          .room__photo-container
            img.room__photo(src=data.roomPhotos[0].url, alt="room photo")
        .room__photo-group
          .room__photo-container
            img.room__photo(src=data.roomPhotos[1].url, alt="room photo")
          .room__photo-container
            img.room__photo(src=data.roomPhotos[2].url, alt="room photo")
      .room__section
        .room__container
          .room__group
            .room__group-block
              .room__title Сведения о номере
              .room__comfort-items-container
                each item in data.comfortItems
                  +comfort-item(item)
            .room__group-block
              .room__title Впечатления от номера
              +chart(data.chart)
          .room__group
            .room__group-block
              .room__title Отзывы посетителей номера
                .room__review-counter= `${data.reviews.length} отзыва`
              .room__reviews-container
                each review in data.reviews
                  +review(review)
          .room__group
            .room__group-block.room__group-block_rules
              .room__title.room__title_rules Правила
              +bullet-list(data.rules)
            .room__group-block.room__group-block_cancelation
              .room__title Отмена
              .room__cancelation-description= data.cancelation.description
        .room__summary-form-container
          +summary-form(data.summaryForm)
    footer.room__footer
      +footer(data.footer)