mixin field(params)
  -
    const {
      title,
      size,
      placeholder,
      type = 'text',
      submitLink,
      value,
      name = 'name',
      masked = false,
    } = params;
    const class_size = size ? `field_size_${size}` : '';
    const class_mask = masked ? 'field_masked' : '';

  .field.js-field(class=class_size, class=class_mask)
    if (title)
      .field__title= title
    if(submitLink !== undefined)
      form.field__container(action=submitLink)
        input.field__input.js-field__input(
          placeholder=placeholder,
          type=type,
          value=value,
          name=name
        )
        button.field__button(type="submit")
          i.field__arrow.material-icons arrow_forward
    else
      .field__container
        input.field__input.js-field__input(
          placeholder=placeholder,
          type=type,
          value=value,
          name=name
        )