mixin field(params = {})
  -
    const {
      title = null,
      value = '',
      placeholder = '',
      type = 'text',
      name = 'name',
      masked = false,
      focused = false,
      withSubmitButton = false,
    } = params;

  .field.js-field(
    class=masked && 'field_type_masked',
    class=withSubmitButton && 'field_with-submit-button'
  )
    if (title)
      .field__title= title
    input.field__input.js-field__input(
      class = focused && 'field__input_focused',
      placeholder=placeholder,
      type=type,
      value=value,
      name=name
    )
    if (withSubmitButton)
      button.field__button(type="submit")
        .field__arrow