mixin header-item(params = {})
  -
    const {
      title = 'title',
      href = '/mock-address/change-me',
      selected = false,
      children = [],
    } = params;

  if (children.length === 0)
    .header-item(class=selected && 'header-item_selected')
      a.header-item__title(href=href)= title
  else
    .header-item.js-header-item(class=selected && 'header-item_selected')
      a.header-item__title.js-header-item__title= title
        .header-item__arrow
      .header-item__children-container
        each child in children
          a.header-item__child(
            href=child.href || '/mock-address/change-me'
          )= child.title
