mixin inpt(params)
  -
    const {
      title,
      size,
      placeholder,
      type = 'text',
      submitLink,
    } = params;
    const class_size = (size ? `inpt_size-${size}` : "");

  .inpt(class=class_size)
    if (title)
      .inpt__title=title
    .inpt__container
      input.inpt__textarea(placeholder=placeholder type=type)
      if(submitLink !== undefined)
        button.inpt__button(type='submit' )
          i.material-icons arrow_forward
        
