include ../field/field
include ../logotype/logotype

mixin footer(params = {})
  -
    const {
      groups = [
        {title: 'Навигация', items: [
          {name: 'О нас'},
          {name: 'Новости'},
          {name: 'Служба поддержки'},
          {name: 'Услуги'}
        ]},
        {title: 'О нас', items: [
          {name: 'О сервисе'},
          {name: 'Наша команда'},
          {name: 'Вакансии'},
          {name: 'Инвесторы'}
        ]},
        {title: 'Служба поддержки', items: [
          {name: 'Соглашения'},
          {name: 'Сообщества'},
          {name: 'Связь с нами'}
        ]}
      ],
      submitLink = 'https://echo.htmlacademy.ru',
      logotypeLink = '/mock-address/change-me',
      partial = false,
    } = params;

  .footer.js-footer(class=partial && 'footer_type_partial')
    .footer__top-container
      .footer__group
        a.footer__logotype(href=logotypeLink)
          +logotype()
        .footer__text 
          |Бронирование номеров в лучшем отеле 2019 
          |года по версии ассоциации «Отельные взгляды»
      each group in groups
        .footer__group.js-footer__group
          .footer__group-title.js-footer__group-title= group.title
          each item in group.items
            - const link = item.href ? item.href : '/mock-address/change-me';
            a.footer__group-item(href=link)= item.name
      .footer__group
        .footer__group-title Подписка
        .footer__text Получайте специальные предложения и новости сервиса
        +field({
          size: 'm',
          placeholder:
          'Email', name:
          'email',
          submitLink: submitLink
        })
    .footer__bottom-container
      .footer__bottom-item
        a.footer__logotype(href=logotypeLink)
          +logotype()
      .footer__bottom-item Copyright © 2018 Toxin отель. Все права защищены.
      -
        const socialLinks = [
          {link: 'https://twitter.com/', class: 'footer__twitter-link'},
          {link: 'https://facebook.com/', class: 'footer__facebook-link'},
          {link: 'https://instagram.com/', class: 'footer__instagram-link'}
        ]
      .footer__bottom-item
        each social in socialLinks
          a(
            class=social.class,
            href=social.link,
            target="_blank",
            rel="noopener noreferrer"
          )