include ../rate-button/rate-button

mixin room-card(params)
  -
    params = params ? params : {};
    const {
      imageLinks = [],
      number = 888,
      luxe = true,
      price = 9990,
      rate = 4,
      reviewCount = 145,
      visibleButtons = false,
      link = '/mock-address/change-me',
    } = params;
    const class_buttons = visibleButtons ? 'room-card_buttons_visible' : '';
    const class_luxe = luxe ? 'room-card__number_luxe' : '';
    const str = price.toString();
    const cardPrice
      = str.substr(0, str.length - 3) + ' ' + str.substr(-3) + '₽';

  form.room-card.js-room-card(action=link, method="get", class=class_buttons)
    .room-card__images
      each link in imageLinks
        img.room-card__image.js-room-card__image(src=link, alt="room photo")
      .room-card__dots
        each link in imageLinks
          .room-card__dot.js-room-card__dot
      .room-card__button.js-room-card__button
        i.room-card__arrow.material-icons expand_more
      .room-card__button.js-room-card__button
        i.room-card__arrow.material-icons expand_more
    .room-card__container.js-room-card__container
      .room-card__top
        .room-card__number(class=class_luxe )= number
        .room-card__price= cardPrice
      .room-card__stick
      .room-card__bottom
        +rate-button(rate)
        .room-card__count= reviewCount