include ../rate-button/rate-button

mixin room-card(params)
  - 
    params = params ? params : {};
    const {
      imageLinks = [], 
      number = 888, 
      luxe = true,
      price = 9990, 
      rate = 4, 
      reviewCount = 145,
      visibleButtons = false,
      link = '#',
    } = params;
    const class_visibleButtons = visibleButtons ? 'room-card_visible-buttons' : '';
    const str = price.toString();
    const cardPrice = str.substr(0, str.length - 3) + ' ' + str.substr(-3) + '₽';

  form.room-card(action=link, method='get', class=class_visibleButtons).js-room-card
    .room-card__images
      each link in imageLinks
        img.room-card__image(src=link).js-room-card__image
      .room-card__dots
        .room-card__dot.js-room-card__dot
        .room-card__dot.js-room-card__dot
        .room-card__dot.js-room-card__dot
        .room-card__dot.js-room-card__dot
      .room-card__button.js-room-card__button
        i.material-icons expand_more
      .room-card__button.js-room-card__button
        i.material-icons expand_more
    button(type='submit').room-card__container
      .room-card__top
        .room-card__number(class = luxe ? 'room-card__number_luxe' : '')=number
        .room-card__price=cardPrice
      .room-card__stick
      .room-card__bottom
        +rate-button(rate)
        .room-card__count=reviewCount
    